* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
    }

    body {
      background: linear-gradient(135deg, #8f43fb, #3f94fc);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      background: #fff;
      width: 800px;
      max-width: 90%;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    .left-panel {
      flex: 10%;
      background: linear-gradient(to bottom right, #2dd4fc, #3ec7f2, #4ca1f2);
      color: white;
      padding: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .left-panel h1 {
      font-size: 36px;
      margin-bottom: 100px;
    }

    .left-panel p {
      font-size: 16px;
    }

    .right-panel {
      flex: 1;
      padding: 50px 40px;
    }

    .right-panel h2 {
      color: #2196F3;
      margin-bottom: 10px;
    }

    .right-panel p {
      font-size: 14px;
      color: #777;
      margin-bottom: 20px;
    }

    .right-panel input[type="text"]{
    
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }
    .right-panel input[type="password"] {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }

    .checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .checkbox input {
      margin-right: 10px;
    }

    .login-button {
      width: 100%;
      padding: 12px;
      background: #2196F3;
      color: white;
      border: center;
      border-radius: 6px;
      font-weight: column;
      cursor: pointer;
      font-size: 16px;
    }

    .extra-options {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-top: 15px;
    }

    .extra-options a {
      color: #2196F3;
      text-decoration: none;
      font-weight: 500;
    }

    .logo {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .footer-text {
      position: absolute;
      bottom: 30px;
      font-size: 12px;
    }
    